@import "node_modules/bootstrap/scss/functions";

$primary: #EA268E;
$secondary: #1F2937;
$body-color: #111;
$light: #EEEEEE;

$input-group-addon-bg: #fff;
$input-group-addon-border-color: #fff;
$input-border-color: #fff;
$input-focus-box-shadow: none;
$input-focus-border-color: #fff;
$form-select-focus-border-color: #fff;
$form-select-focus-box-shadow: none;
$accordion-color: #212529;
$accordion-button-bg:  #EEEEEE;
$accordion-button-focus-border-color: none;
$accordion-button-focus-box-shadow: none;

$headerHeight: 94px;
$headerHeightMobile: 58px;
$footerHeight: 64px;

@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";