$primary: #EA268E;
$secondary: #1F2937;
$body-color: #111;

$input-group-addon-bg: #fff;
$input-group-addon-border-color: #fff;
$input-border-color: #fff;
$input-focus-box-shadow: none;
$input-focus-border-color: #fff;
$form-select-focus-border-color: #fff;
$form-select-focus-box-shadow: none;

$footerHeight: 64px;